<table class="bg-transparent border-none font-fantasy" style="font-size: 110%;">
    <tbody>
        <tr>
            <td style="width: 130px; vertical-align: middle; text-align: left;">
                <strong class="font-sans">Персонаж</strong>
            </td>
            <td style="width: 100px; vertical-align: middle; text-align: center;">
                <strong class="font-sans">Пища, кг</strong>
            </td>
            <td style="width: 90px; vertical-align: middle; text-align: center;">
                <strong class="font-sans">Вода, л</strong>
            </td>
            <td style="width: 100px; vertical-align: middle; text-align: center;">
                <strong class="font-sans">Норма пищи</strong>
            </td>
            <td style="width: 100px; vertical-align: middle; text-align: center;">
                <strong class="font-sans">Объём воды</strong>
            </td>
        </tr>
        <tr style="background-color: #b5cfe3;">
            <td style="vertical-align: middle; text-align: left;">
                Акта
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; text-align: left;">
                Альфонс де Саад
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
        <tr style="background-color: #b5cfe3;">
            <td style="vertical-align: middle; text-align: left;">
                Ворн
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; text-align: left;">
                Крон
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
        <tr style="background-color: #b5cfe3;">
            <td style="vertical-align: middle; text-align: left;">
                Оберон
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; text-align: left;">
                Пламя Тайрос
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="кг_пищи" id="кг_пищи" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">0.1</option>
                    <option value="3">0.2</option>
                    <option value="4">0.3</option>
                    <option value="5">0.4</option>
                    <option value="6">0.5</option>
                    <option value="7">0.6</option>
                    <option value="8">0.7</option>
                    <option value="9">0.8</option>
                    <option value="10">0.9</option>
                    <option value="11">1</option>
                </select>
                &nbsp;из 0.5
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="л_воды" id="л_воды" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">1</option>
                    <option value="3">2</option>
                    <option value="4">3</option>
                    <option value="5">4</option>
                    <option value="6">5</option>
                    <option value="7">6</option>
                    <option value="8">7</option>
                    <option value="9">8</option>
                </select>
                &nbsp;из 4
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="пища" id="пища" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полная</option>
                    <option value="4">Частичная</option>
                    <option value="5">Утомление</option>
                </select>
            </td>
            <td style="vertical-align: middle; text-align: center;">
                <select name="вода" id="вода" class="font-fantasy" style="font-size: 110%;">
                    <option value="1"></option>
                    <option value="2">Половина</option>
                    <option value="3">Полный</option>
                    <option value="4">Утомление</option>
                </select>
            </td>
        </tr>
    </tbody>
</table>